In [7]:
import pandas as pd
import numpy as np
import datetime

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from mpl_toolkits.mplot3d import Axes3D

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from scipy.stats import norm

from sklearn.decomposition import PCA
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from yellowbrick.cluster import SilhouetteVisualizer

In [8]:
df= pd.read_csv('ProcessedData.csv')
df.head(20)

,Education,Income,Kidhome,Teenhome,Recency,Wines,Fruits,Meat,Fish,Sweets,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Customer_For,Age,TotalSpent,Living_With,Children,Parenthood
0,1,58138.0,0,0,58,635,88,546,172,88,...,0,0,0,1,83894400000000000,66,1617,0,0,0
1,1,46344.0,1,1,38,11,1,6,2,1,...,0,0,0,0,10800000000000000,69,27,0,2,1
2,1,71613.0,0,0,26,426,49,127,111,21,...,0,0,0,0,40780800000000000,58,776,1,0,0
3,1,26646.0,1,0,26,11,4,20,10,3,...,0,0,0,0,5616000000000000,39,53,1,1,1
4,2,58293.0,1,0,94,173,43,118,46,27,...,0,0,0,0,27734400000000000,42,422,1,1,1
5,2,62513.0,0,1,16,520,42,98,0,42,...,0,0,0,0,39139200000000000,56,716,1,1,1
6,1,55635.0,0,1,34,235,65,164,50,49,...,0,0,0,0,65059200000000000,52,590,0,1,1
7,2,33454.0,1,0,32,76,10,56,3,1,...,0,0,0,0,42163200000000000,38,169,1,1,1
8,2,30351.0,1,0,19,14,0,24,3,3,...,0,0,0,1,47347200000000000,49,46,1,1,1
9,2,5648.0,1,1,68,28,0,6,1,1,...,0,0,0,0,23155200000000000,73,49,1,2,1
10,0,7500.0,0,0,59,6,16,11,11,1,...,0,0,0,0,65059200000000000,47,61,1,0,0
11,1,63033.0,0,0,82,194,61,480,225,112,...,0,0,0,0,33350400000000000,64,1102,0,0,0
12,2,59354.0,1,1,53,233,2,53,3,5,...,0,0,0,0,33350400000000000,71,310,0,2,1
13,1,17323.0,0,0,38,3,14,17,6,1,...,0,0,0,0,67996800000000000,36,46,1,0,0
14,2,82800.0,0,0,23,1006,22,115,59,68,...,1,0,0,1,64108800000000000,77,1315,0,0,0
15,1,41850.0,1,1,51,53,5,19,2,13,...,0,0,0,0,61516800000000000,43,96,1,2,1
16,1,37760.0,0,0,20,84,5,38,150,12,...,0,0,0,0,71452800000000000,77,317,1,0,0
17,2,76995.0,0,1,91,1012,80,498,0,16,...,1,0,0,0,53395200000000000,74,1782,1,1,1
18,0,33812.0,1,0,86,4,17,19,30,24,...,0,0,0,0,86400000000000000,38,133,0,1,1
19,1,37040.0,0,0,41,86,2,73,69,38,...,0,0,0,0,73440000000000000,41,316,1,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            2205 non-null   int64
 1   Income               2205 non-null   float64
 2   Kidhome              2205 non-null   int64
 3   Teenhome             2205 non-null   int64
 4   Recency              2205 non-null   int64
 5   Wines                2205 non-null   int64
 6   Fruits               2205 non-null   int64
 7   Meat                 2205 non-null   int64
 8   Fish                 2205 non-null   int64
 9   Sweets               2205 non-null   int64
 10  Gold                 2205 non-null   int64
 11  NumDealsPurchases    2205 non-null   int64
 12  NumWebPurchases      2205 non-null   int64
 13  NumCatalogPurchases  2205 non-null   int64
 14  NumStorePurchases    2205 non-null   int64
 15  NumWebVisitsMonth    2205 non-null   int64
 16  AcceptedCmp3         2205 non-null   int64
 17  AcceptedCmp4         2205 non-null   int64
 18  AcceptedCmp5         2205 non-null   int64
 19  AcceptedCmp1         2205 non-null   int64
 20  AcceptedCmp2         2205 non-null   int64
 21  Complain             2205 non-null   int64
 22  Response             2205 non-null   int64
 23  Customer_For         2205 non-null   int64
 24  Age                  2205 non-null   int64
 25  TotalSpent           2205 non-null   int64
 26  Living_With          2205 non-null   int64
 27  Children             2205 non-null   int64
 28  Parenthood           2205 non-null   int64
dtypes: float64(1), int64(28)
memory usage: 499.7 KB

In [10]:
df.describe()

,Education,Income,Kidhome,Teenhome,Recency,Wines,Fruits,Meat,Fish,Sweets,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Customer_For,Age,TotalSpent,Living_With,Children,Parenthood
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,...,2205.000000,2205.000000,2205.000000,2205.00000,2.205000e+03,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,1.266667,51622.094785,0.442177,0.506576,49.009070,306.164626,26.403175,165.312018,37.756463,27.128345,...,0.064399,0.013605,0.009070,0.15102,4.424221e+16,54.095692,606.821769,0.644898,0.948753,0.715193
std,0.651398,20713.063826,0.537132,0.544380,28.932111,337.493839,39.784484,217.784507,54.824635,41.130468,...,0.245518,0.115872,0.094827,0.35815,2.009049e+16,11.705801,601.675284,0.478653,0.749231,0.451425
min,0.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000e+00,27.000000,5.000000,0.000000,0.000000,0.000000
25%,1.000000,35196.000000,0.000000,0.000000,24.000000,24.000000,2.000000,16.000000,3.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,2.937600e+16,46.000000,69.000000,0.000000,0.000000,0.000000
50%,1.000000,51287.000000,0.000000,0.000000,49.000000,178.000000,8.000000,68.000000,12.000000,8.000000,...,0.000000,0.000000,0.000000,0.00000,4.432320e+16,53.000000,397.000000,1.000000,1.000000,1.000000
75%,2.000000,68281.000000,1.000000,1.000000,74.000000,507.000000,33.000000,232.000000,50.000000,34.000000,...,0.000000,0.000000,0.000000,0.00000,5.927040e+16,64.000000,1047.000000,1.000000,1.000000,1.000000
max,2.000000,113734.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,262.000000,...,1.000000,1.000000,1.000000,1.00000,9.184320e+16,83.000000,2525.000000,1.000000,3.000000,1.000000

In [11]:
duplicates = df.duplicated()
print("Number of duplicates:", duplicates.sum())

Number of duplicates: 185

In [12]:
df.drop_duplicates(inplace=True)
duplicates = df.duplicated()
print("Number of duplicates after removal:", duplicates.sum())

Number of duplicates after removal: 0

In [ ]:
df_copy = df.copy()

drop_cols = [
    'Recency',
    'AcceptedCmp1', 
    'AcceptedCmp2', 
    'AcceptedCmp3', 
    'AcceptedCmp4',
    'AcceptedCmp5', 
    'Complain', 
    'Response'
]
df_copy = df_copy.drop(drop_cols, axis=1)
df_copy.columns

In [ ]:
scaler = StandardScaler()
scaler.fit(df_copy)
scaled_df = pd.DataFrame(scaler.transform(df_copy),columns= df_copy.columns )

In [ ]:
pca = PCA().fit(scaled_df)
variance_ratios = pca.explained_variance_ratio_
plt.plot(range(1, len(variance_ratios)+1), variance_ratios, 'bo-', linewidth=2)
plt.xticks(np.arange(1, len(variance_ratios)+1, 1.0))
plt.xlabel('Principal Component')
plt.ylabel('Proportion of Variance')
plt.title('Scree Plot')

plt.show()

In [ ]:
pca = PCA(n_components=3)
pca.fit(scaled_df)
transformed_df = pd.DataFrame(pca.transform(scaled_df), columns=(["Feature1","Feature2","Feature3"]))

In [ ]:
best_score = -1
best_params = {}

for linkage in ['ward', 'complete', 'average']:
    for metric in ['euclidean', 'l1', 'l2', 'manhattan', 'cosine', 'precomputed']:
        for n_clusters in [None, 3,4,5,6]:
            if n_clusters is None:
                for distance_threshold in [1, 2, 3, 4, 5, 6]:
                    hierarchical = AgglomerativeClustering(n_clusters=n_clusters, linkage=linkage, distance_threshold=distance_threshold)
                    agg_labels = hierarchical.fit_predict(transformed_df)
                    score = silhouette_score(transformed_df, agg_labels)
                    if score > best_score:
                        best_score = score
                        best_params = {'linkage': linkage, 'distance_threshold': distance_threshold, 'n_clusters': n_clusters}
            else:
                hierarchical = AgglomerativeClustering(n_clusters=n_clusters, linkage=linkage)
                agg_labels = hierarchical.fit_predict(transformed_df)
                score = silhouette_score(transformed_df, agg_labels)
                if score > best_score:
                    best_score = score
                    best_params = {'linkage': linkage, 'n_clusters': n_clusters}

print("Best parameters:", best_params)
print("Best silhouette score:", best_score)

In [ ]:
hierarchical = AgglomerativeClustering(n_clusters=4, linkage='average')
agg_labels = hierarchical.fit_predict(transformed_df)
score_agg = silhouette_score(transformed_df, agg_labels)
df['Agg'] = agg_labels

num_clusters = len(set(agg_labels))
print("Number of clusters:", num_clusters)

Dendogram

In [ ]:
from scipy.cluster.hierarchy import dendrogram, linkage
import matplotlib.pyplot as plt


# Compute linkage matrix
Z = linkage(transformed_df, method='average')

# Plot dendrogram
plt.figure(figsize=(10, 5))
plt.title('Hierarchical Clustering Dendrogram')
plt.xlabel('Sample index')
plt.ylabel('Distance')
dendrogram(Z, leaf_rotation=90., leaf_font_size=8., no_labels=True)
plt.show()

In [ ]:
pal = ["#FF5733","#00CED1","#BA55D3","#32CD32"]
pl = sns.countplot(x=df["Agg"], palette= pal)
pl.set_title("Kmeans Distribution Of The Clusters")

# Add count on top of bars
for p in pl.patches:
    pl.annotate(format(p.get_height(), '.0f'), 
                (p.get_x() + p.get_width() / 2., p.get_height()), 
                ha = 'center', va = 'center', 
                xytext = (0, 10), 
                textcoords = 'offset points')

plt.show()

In [ ]:
pl = sns.scatterplot(data = df,x=df["TotalSpent"], y=df["Income"],hue=df["Agg"], palette= pal)
pl.set_title("Cluster's Profile Based On Income And Total Spending")
plt.legend()
plt.show()

In [ ]:
df_agg = df.drop(df[df['Agg']==2].index)

In [ ]:
scaler = StandardScaler()
scaler.fit(df_agg)
scaled_agg = pd.DataFrame(scaler.transform(df_agg),columns= df_agg.columns )

In [ ]:
pca = PCA(n_components=3)
pca.fit(scaled_agg)
transformed_agg= pd.DataFrame(pca.transform(scaled_agg), columns=(["Feature1","Feature2","Feature3"]))

In [ ]:
best_score = -1
best_params = {}

for linkage in ['ward', 'complete', 'average']:
    for metric in ['euclidean', 'l1', 'l2', 'manhattan', 'cosine', 'precomputed']:
        for n_clusters in [None, 3,4,5,6]:
            if n_clusters is None:
                for distance_threshold in [1, 2, 3, 4, 5, 6]:
                    hierarchical = AgglomerativeClustering(n_clusters=n_clusters, linkage=linkage, distance_threshold=distance_threshold)
                    agg_labels = hierarchical.fit_predict(transformed_agg)
                    score = silhouette_score(transformed_agg, agg_labels)
                    if score > best_score:
                        best_score = score
                        best_params = {'linkage': linkage, 'distance_threshold': distance_threshold, 'n_clusters': n_clusters}
            else:
                hierarchical = AgglomerativeClustering(n_clusters=n_clusters, linkage=linkage)
                agg_labels = hierarchical.fit_predict(transformed_agg)
                score = silhouette_score(transformed_agg, agg_labels)
                if score > best_score:
                    best_score = score
                    best_params = {'linkage': linkage, 'n_clusters': n_clusters}

print("Best parameters:", best_params)
print("Best silhouette score:", best_score)

In [ ]:
copy_hierarchical = AgglomerativeClustering( n_clusters= 3,linkage='average')
agg_labels = copy_hierarchical.fit_predict(transformed_agg)
score_agg = silhouette_score(transformed_agg, agg_labels)
df_agg['AggCopy'] = agg_labels

num_clusters = len(set(agg_labels))
print("Number of clusters:", num_clusters)

In [ ]:
from scipy.cluster.hierarchy import dendrogram, linkage
import matplotlib.pyplot as plt


# Compute linkage matrix
Z = linkage(transformed_agg, method='average')

# Plot dendrogram
plt.figure(figsize=(10, 5))
plt.title('Hierarchical Clustering Dendrogram')
plt.xlabel('Sample index')
plt.ylabel('Distance')
dendrogram(Z, leaf_rotation=90., leaf_font_size=8., no_labels=True)
plt.show()